# Homework 5

**Complete the coding questions in this notebook, and use your results to answer *Lab Homework 5* on bCourses**

For this homework we will be using the data: "Ziprecruiter.csv"

**Bold text is the actual Homework Quiz question.**

----

In [80]:
# Load required packages

library(dplyr)
library(purrr)
library(ggplot2)

Load in the data.

In [81]:
# Load the data

ZipRecruiter <- read.csv("Ziprecruiter.csv")

head(ZipRecruiter)

  price signup revenue
1  39   1      39
2 159   0       0
3 299   0       0
4  79   0       0
5  99   0       0
6  79   0       0

We will consider what would have happened if we had chosen an alternative price of \\$159 rather than \\$249 in our hypothetical, smaller scale experiment.

**Q1. In the original experiment, what is standard deviation of `revenue` when the price is \\$99 or \\$159? Round to the nearest whole dollar.**

In [82]:
ZipRecruiter %>%
    filter(price == "99" | price == "159") %>%
    summarize("SD" = sd(revenue))

print("STDEV of revenue is $54")

  SD
1 53.93609

[1] "STDEV of revenue is $54"

**Q2. In the original experiment, what is effect size on revenue for a price of \\$159? Measure the effect size in DOLLARS, and round to the nearest whole dollar.**

In [83]:
model = lm(revenue ~relevel(as.factor(price), ref ="99"), data = ZipRecruiter)
summary(model)

print("Effect size is 8.04/53.93 = .149")

Call:
lm(formula = revenue ~ relevel(as.factor(price), ref = "99"),
    data = ZipRecruiter)

Residuals:
   Min     1Q Median     3Q    Max
-43.91 -35.81 -22.92  -6.84 355.09

Coefficients:
                                         Estimate Std. Error t value Pr(>|t|)
(Intercept)                               23.7600     2.4196   9.820  < 2e-16
relevel(as.factor(price), ref = "99")19  -16.9162     3.4283  -4.934 8.21e-07
relevel(as.factor(price), ref = "99")39  -11.2877     3.4081  -3.312 0.000930
relevel(as.factor(price), ref = "99")59   -7.8382     3.4293  -2.286 0.022303
relevel(as.factor(price), ref = "99")79   -0.8425     3.3730  -0.250 0.802757
relevel(as.factor(price), ref = "99")159   8.0400     3.4607   2.323 0.020193
relevel(as.factor(price), ref = "99")199  12.0498     3.4459   3.497 0.000473
relevel(as.factor(price), ref = "99")249  18.5733     3.4820   5.334 9.87e-08
relevel(as.factor(price), ref = "99")299  15.0865     3.4642   4.355 1.35e-05
relevel(as.factor(price), ref = "99")399  20.1465     3.5066   5.745 9.52e-09

(Intercept)                              ***
relevel(as.factor(price), ref = "99")19  ***
relevel(as.factor(price), ref = "99")39  ***
relevel(as.factor(price), ref = "99")59  *
relevel(as.factor(price), ref = "99")79
relevel(as.factor(price), ref = "99")159 *
relevel(as.factor(price), ref = "99")199 ***
relevel(as.factor(price), ref = "99")249 ***
relevel(as.factor(price), ref = "99")299 ***
relevel(as.factor(price), ref = "99")399 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 68.44 on 7817 degrees of freedom
Multiple R-squared:  0.03128,	Adjusted R-squared:  0.03017
F-statistic: 28.05 on 9 and 7817 DF,  p-value: < 2.2e-16

[1] "Effect size is 8.04/53.93 = .149"

**Q3. Consider a smaller scale experiment as we did in Lab 5, where we only include prices of \\$99 and \\$159 and include 120 customers per price rather than 800. For this experiment, what is the power associated with the effect size you reported in Q2? As in lab, use a significance level of 0.05, remember to convert the effect size into standard deviations, and round power to two decimal places.**

In [84]:
#what are results using 15% sample?
sample <- ZipRecruiter %>%
    filter(price == "99" | price == "159")%>%
    slice_sample(prop = 0.15, replace = FALSE)

#re-estimate regression using sample
sample_model <-lm(sample$revenue ~ sample$price)

summary(sample_model)

power.t.test(n=120, delta=.149, sd=1 , sig.level=.05)
print("Power is ~.21")

Call:
lm(formula = sample$revenue ~ sample$price)

Residuals:
   Min     1Q Median     3Q    Max
-26.73 -26.73 -21.27 -21.27 132.26

Coefficients:
             Estimate Std. Error t value Pr(>|t|)
(Intercept)  12.26078   14.56981   0.842    0.401
sample$price  0.09103    0.11085   0.821    0.412

Residual standard error: 50.84 on 232 degrees of freedom
Multiple R-squared:  0.002898,	Adjusted R-squared:  -0.001399
F-statistic: 0.6744 on 1 and 232 DF,  p-value: 0.4124

     Two-sample t test power calculation

              n = 120
          delta = 0.149
             sd = 1
      sig.level = 0.05
          power = 0.2088354
    alternative = two.sided

NOTE: n is number in *each* group

[1] "Power is ~.21"

**Q4. Since our hypothetical experiment is underpowered, we are likely to:**

(a) Get a false positive (i.e., make a Type I error), that is, to conclude that there is an effect when there actually isn't an effect. 

(b) Get a false positive (i.e., make a Type I error), that is, to conclude that there is no effect when there actually is an effect. 

(c) Get a false negative (i.e., make a Type II error), that is, to conclude that there is no effect when there actually is an effect. 

(d) Get a false negative (i.e., make a Type II error), that is, to conclude that there is an effect when there actually isn't an effect.

In [85]:
print("C")

[1] "C"

**Q5. What significance level would we need for our hypothetical experiment to have power of 0.8? Round to two decimal places.**

In [86]:
power.t.test(n=120, delta=.149, sd=1 , power=.8, sig.level=NULL)
print("Significance level is .75 or 75%")

     Two-sample t test power calculation

              n = 120
          delta = 0.149
             sd = 1
      sig.level = 0.7547593
          power = 0.8
    alternative = two.sided

NOTE: n is number in *each* group

[1] "Significance level is .75 or 75%"

**Q6. What sample size per price would we need for our hypothetical experiment to have power of 0.8? Use a significance level of 0.05 and round to the nearest whole number.**

In [87]:
power.t.test(n=NULL, delta=.149, sd=1 , power=.8, sig.level=.05)
print("Need 708 samples")

     Two-sample t test power calculation

              n = 708.0361
          delta = 0.149
             sd = 1
      sig.level = 0.05
          power = 0.8
    alternative = two.sided

NOTE: n is number in *each* group

[1] "Need 708 samples"

**Q7. Suppose that, when evaluating the experiment using a regression, we include baseline customer-level control variables that reduce the residual standard deviation of `revenue` by 50%. Now what sample size per price would we need for our hypothetical experiment to have power of 0.8?**

In [88]:
power.t.test(n=NULL, delta=.298, sd=1 , power=.8, sig.level=.05)
print("Need 178 samples")

     Two-sample t test power calculation

              n = 177.7341
          delta = 0.298
             sd = 1
      sig.level = 0.05
          power = 0.8
    alternative = two.sided

NOTE: n is number in *each* group

[1] "Need 178 samples"

Now let's return to analyzing the original ZipRecruiter experiment (rather than our hypothetical, smaller scale experiment.)

**Q8. What is the standard deviation of `revenue`, including all prices? Round to the nearest whole dollar.**

In [89]:
sd(ZipRecruiter$revenue)
print("$69")

[1] 69.49219

[1] "$69"

**Q9. What is the MDE of the original experiment for any given price? Report the MDE in DOLLARS, and round to the nearest whole dollar.**

In [90]:
power.t.test(n=800, delta=NULL, sd=1 , power=.8, sig.level=.05)
print("Delta is .14 SD, so MDE is .14*69 = 10")

     Two-sample t test power calculation

              n = 800
          delta = 0.14019
             sd = 1
      sig.level = 0.05
          power = 0.8
    alternative = two.sided

NOTE: n is number in *each* group

[1] "Delta is .14 SD, so MDE is .14*69 = 10"

**Q10. What sample size would have been required to achieve an MDE of \\$1 in revenue per prospective customer? Round to nearest whole number.**

In [91]:
power.t.test(n=NULL, delta=.01439, sd=1 , power=.8, sig.level=.05)
print("Requires 75809 samples")

     Two-sample t test power calculation

              n = 75809.14
          delta = 0.01439
             sd = 1
      sig.level = 0.05
          power = 0.8
    alternative = two.sided

NOTE: n is number in *each* group

[1] "Requires 75809 samples"

**Q11. ZipRecruiter ultimately decided to change their price from \\$99 to \\$249 based on the experiment. Test whether the difference in `revenue` for `price` = \\$249 and `price` = \\$399 is statistically significant. What is the p-value associated with this test? Round to two decimal places.**

In [92]:

sample1 <- ZipRecruiter %>%
    filter(price == "249")


sample2 <- ZipRecruiter %>%
    filter(price == "399")


t.test(sample1$revenue,sample2$revenue, var.equal = TRUE)
print("P-value is .7841")

	Two Sample t-test

data:  sample1$revenue and sample2$revenue
t = -0.27405, df = 1472, p-value = 0.7841
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -12.833044   9.686781
sample estimates:
mean of x mean of y
 42.33333  43.90646

[1] "P-value is .7841"